{{template "header" .}}
<div class="py-12 flex justify-center">
    <div class="px-8 py-8 bg-white rounded shadow">
    <h1 class="pt-4 pb-8 text-center text-3xl font-bold text-gray-900">User Details</h1>
    <p class="text-sm font-semibold text-gray-800"><b>Email:</b> {{.Email}}</p>
    </div>
</div>
{{template "footer" .}}